<div class="container-fluid bg-blue-dark py-3 text-white fs-17" id="copyright">
    <div class="container-lg d-flex justify-content-between">
        <p class="mb-0">
            &copy; {{ "now"|date("Y") }} <br class="d-inline-block d-sm-none">
            ZŠ Svoboda nad Úpou
        </p>

        <p class="mb-0 signature d-flex align-items-end align-items-sm-center">
            <a href="https://www.hucr.cz" target="_blank">
                <span class="bg-purple bg-blue-light-hover transition-base"></span>
            </a>
        </p>
    </div>
</div>
