[viewBag]
snippetCode = "current-students"
snippetName = "Současní žáci"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "skola-soucasni-zaci-1-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1. třída
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-2-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            2. třída
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-3-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            3. třída
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-4-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            4. třída
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-5-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            5. třída
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-6-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            6. třída
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-7-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            7. A
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-7-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            7. B
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-8-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            8. A
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-8-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            8. B
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-soucasni-zaci-9-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            9. třída
        </a>
    </div>
</div>
