[viewBag]
snippetCode = "current-students"
snippetName = "Současní žáci"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "o-skole-soucasni-zaci-1-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1. třída
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-soucasni-zaci-2-trida"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            2. třída
        </a>
    </div>
</div>
