<div class="container-fluid px-0 overflow-hidden mb-2" id="gallery">
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col d-none d-md-block">
            <img src="{{ 'assets/images/gallery/01.jpg'|theme }}" alt="gallery01" class="img-fluid">
        </div>

        <div class="col">
            <img src="{{ 'assets/images/gallery/02.jpg'|theme }}" alt="gallery02" class="img-fluid">
        </div>

        <div class="col d-none d-md-block">
            <img src="{{ 'assets/images/gallery/03.jpg'|theme }}" alt="gallery03" class="img-fluid">
        </div>
    </div>
</div>
