[staticMenu main-menu-mobile]
code = "hlavni-menu"
==
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header text-right">
        <h5 class="offcanvas-title text-white">Menu</h5>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        {% component 'main-menu-mobile' %}

        <ul class="nav mt-4">
            <li class="nav-item d-flex justify-content-center w-100">
                {% if this.theme.bakalari %}
                    <a href="{{ this.theme.bakalari }}" target="_blank" class="nav-link">
                        <img src="{{ 'assets/images/bakalari.png'|theme }}" alt="Bakaláři" class="bakalari">
                    </a>
                {% endif %}

                {% if this.theme.cafeteria %}
                    <a href="{{ this.theme.cafeteria }}" target="_blank" class="nav-link">
                        <img src="{{ 'assets/images/icons/jidelna.svg'|theme }}" alt="Jídelna" class="cafeteria">
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
