<div class="container-fluid py-5" id="partners">
    <div class="container-lg">
        <h2 class="text-center mb-4 fw-normal">
            Naši partneři
        </h2>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5 g-0">
            <div class="col text-center">
                <img src="{{ 'assets/images/partners/msmt.png'|theme }}" alt="MŠMT" class="img-fluid">
            </div>

            <div class="col text-center">
                <img src="{{ 'assets/images/partners/czpl.png'|theme }}" alt="CZPL" class="img-fluid">
            </div>

            <div class="col text-center">
                <img src="{{ 'assets/images/partners/eu.png'|theme }}" alt="EU" class="img-fluid">
            </div>

            <div class="col text-center">
                <img src="{{ 'assets/images/partners/hk.png'|theme }}" alt="Královéhradecký kraj" class="img-fluid">
            </div>

            <div class="col text-center">
                <img src="{{ 'assets/images/partners/esf.png'|theme }}" alt="ESF" class="img-fluid">
            </div>
        </div>
    </div>
</div>
