<div class="container-fluid py-5 bg-green-light" id="projects">
    <div class="container-lg">
        <h2 class="text-center mb-5">
            Naše projekty
        </h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            <div class="col">
                <div class="card h-100 border-secondary-hover transition-base">
                    <div class="card-body align-items-center d-flex">
                        <a href="{{ 'skola-projekty-granty-rozvoj-polytechnickych-dovednosti-v-elektrotechnice'|staticPage }}" class="stretched-link text-decoration-none text-primary text-secondary-hover transition-base fs-20 fw-medium">
                            Rozvoj polytechnických dovedností v elektrotechnice
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-secondary-hover transition-base">
                    <div class="card-body align-items-center d-flex">
                        <a href="{{ 'skola-projekty-granty-projekt-ovoce-zelenina-do-skol'|staticPage }}" class="stretched-link text-decoration-none text-primary text-secondary-hover transition-base fs-20 fw-medium">
                            Projekt Ovoce a zelenina do škol
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-secondary-hover transition-base">
                    <div class="card-body align-items-center d-flex">
                        <a href="{{ 'skola-projekty-granty-ziva-priroda-ve-skole'|staticPage }}" class="stretched-link text-decoration-none text-primary text-secondary-hover transition-base fs-20 fw-medium">
                            Živá příroda ve škole
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-0 transition-base bg-primary-gradient">
                    <div class="card-body align-items-center d-flex">
                        <a href="{{ 'skola-projekty-granty'|staticPage }}" class="stretched-link text-decoration-none text-white transition-base fs-20 fw-medium text-uppercase d-inline-flex align-items-center">
                            další projekty <i class="bi bi-chevron-right ms-2 fs-17"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
