[viewBag]
snippetCode = "projects-grants"
snippetName = "Projekty a granty"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-res-vv"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt řeš VV
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-eu-penize-skolam"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            EU peníze školám
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-ziva-priroda-ve-skole"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Živá příroda ve škole
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-zelena-ucebna"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Zelená učebna
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-vyzva-56"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt Výzva 56
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-vyzva-57"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt Výzva 57
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-ovoce-zelenina-do-skol"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt Ovoce a zelenina do škol
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-mleko-do-skol"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt Mléko do škol
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-zaklady-bezeckeho-lyzovani-jiz-od-materske-skoly"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Základy běžeckého lyžování již od mateřské školy
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-rozvoj-polytechnickych-dovednosti-v-elektrotechnice"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Rozvoj polytechnických dovedností v elektrotechnice
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-centra-vzdelavani-pro-udrzitelnou-budoucnost-v-ramci-operacniho-programu-vyzkum-vyvoj-vzdelavani"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt Centra vzdělávání pro udržitelnou budoucnost v rámci operačního programu Výzkum, Vývoj a Vzdělávání
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projek-po-stopach-predku"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projek Po stopách předků
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projek-sablony-pro-ms-svoboda-nad-upou"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projek Šablony pro MŠ Svoboda nad Úpou
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-podpora-vyuky-plavani-v-zakladnich-skolach-v-roce-2018-ii-etapa-cj-msmt-210882017-1-18smv11-polytechnicka-vychova-vzdelavani"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt Podpora výuky plavání v základních školách v roce 2018 (II. etapa) č.j.: MSMT-21088/2017-1 a 18SMV11 Polytechnická výchova a vzdělávání
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-podpora-vyuky-plavani-v-zakladnich-skolach-v-roce-2019-iv-etapa-cj-msmt-100112018-1"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Podpora výuky plavání v základních školách v roce 2019 (IV. etapa), č.j. MSMT-10011/2018-1
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-elektrina-elektronika-nas-bavi-19smvu-0017"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt Elektřina a elektronika nás baví 19SMVU-0017
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-projekty-granty-projekt-doucovani-zaku-skol"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base text-center h-100 align-items-center">
            Projekt doučování žáků škol
        </a>
    </div>
</div>
