<div class="container-fluid bg-primary-gradient px-0 overflow-hidden" id="quick-links">
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 g-0 m-n1">
        <div class="col link border border-2 border-green-light">
            <a href="{{ 'zs-info'|page }}" class="h-100 text-decoration-none py-5 d-flex flex-column link-green-light text-white-hover transition-base bg-secondary-hover">
                <p class="img d-flex justify-content-center">
                    <span class="icon icon-contacts bg-green-light transition-base"></span>
                </p>

                <p class="name mb-0 fs-23 fw-semi-bold text-uppercase text-center">
                    kontakty
                </p>
            </a>
        </div>

        <div class="col link border border-2 border-green-light">
            <a href="{{ this.theme.bakalari }}" class="h-100 text-decoration-none py-5 d-flex flex-column link-green-light text-white-hover transition-base bg-secondary-hover">
                <p class="img d-flex justify-content-center">
                    <span class="icon icon-bakalari bg-green-light transition-base"></span>
                </p>

                <p class="name mb-0 fs-23 fw-semi-bold text-uppercase text-center">
                    bakaláři
                </p>
            </a>
        </div>

        <div class="col link border border-2 border-green-light">
            <a href="{{ 'news'|page }}" class="h-100 text-decoration-none py-5 d-flex flex-column link-green-light text-white-hover transition-base bg-secondary-hover">
                <p class="img d-flex justify-content-center">
                    <span class="icon icon-news bg-green-light transition-base"></span>
                </p>

                <p class="name mb-0 fs-23 fw-semi-bold text-uppercase text-center">
                    aktuality
                </p>
            </a>
        </div>

        <div class="col link border border-2 border-green-light">
            <a href="{{ 'ms-news'|page }}" class="h-100 text-decoration-none py-5 d-flex flex-column link-green-light text-white-hover transition-base bg-secondary-hover">
                <p class="img d-flex justify-content-center">
                    <span class="icon icon-ms bg-green-light transition-base"></span>
                </p>

                <p class="name mb-0 fs-23 fw-semi-bold text-uppercase text-center">
                    mateřská <br>
                    škola
                </p>
            </a>
        </div>

        <div class="col link border border-2 border-green-light">
            <a href="{{ 'skola-skolni-jidelna'|staticPage }}" class="h-100 text-decoration-none py-5 d-flex flex-column link-green-light text-white-hover transition-base bg-secondary-hover">
                <p class="img d-flex justify-content-center">
                    <span class="icon icon-cafeteria bg-green-light transition-base"></span>
                </p>

                <p class="name mb-0 fs-23 fw-semi-bold text-uppercase text-center">
                    školní <br>
                    jídelna
                </p>
            </a>
        </div>

        <div class="col link border border-2 border-green-light d-xl-none">
        </div>
    </div>
</div>
