{% for item in items  %}
    {% if not item.viewBag.isHidden %}
        {% if this.page.parent == item.title|slug and item.type == "static-page" %}
            {% set isChildActive = true %}
        {% else %}
            {% set isChildActive = false %}
        {% endif %}

        <li class="nav-item {{ item.viewBag.cssClass }}">
            {% if item.url %}
                <a href="{{ item.url }}" class="nav-link fs-17 fw-normal px-0 py-1 link-primary text-secondary-hover d-inline-flex {{ item.isActive or item.isChildActive or isChildActive ? 'active' : '' }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                    {{ item.title }}
                </a>
            {% else %}
                <span>{{ item.title }}</span>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
