{% for item in items  %}
    {% if not item.viewBag.isHidden %}
        {% if this.page.parent == item.title|replace({" a ": " "})|slug %}
            {% set isChildActive = true %}
        {% else %}
            {% set isChildActive = false %}
        {% endif %}

        <li class="nav-item {{ item.viewBag.cssClass }} {{ not loop.first ? 'mt-3' }}">
            {% if item.url %}
                <a href="{{ item.url }}" class="nav-link text-uppercase text-start btn btn-outline-blue-light {{ item.isActive or item.isChildActive or isChildActive ? 'active' : '' }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                    {{ item.title }}
                </a>
            {% else %}
                <span>{{ item.title }}</span>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
