<div id="{{ __SELF__ }}" class="gallery row row-cols-1 g-4 row-cols-md-2 row-cols-lg-3">
    {% for image in __SELF__.images %}
        <a href="{{ image.path }}" title="{{ image.description }}" class="col">
            <img src="{{ image.thumb(600, 400, { mode: 'crop' }) }}" alt="{{ image.title }}" class="img-fluid">
        </a>
    {% endfor %}
</div>

{% put scripts %}
    <script>
        lightGallery(document.getElementById("{{ __SELF__ }}"), {
            plugins: [lgZoom, lgThumbnail],
            speed: 500,
        });
    </script>
{% endput %}
