[staticPage]
useContent = 1
default = 0

[staticMenu left-menu]

[breadcrumbs]
code = "footer-menu"
==
<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">

        <link rel="icon" href="{{ 'assets/images/favicon.png'|theme }}" />

        <title>{{ this.page.title }}</title>

        {% styles %}

        <link rel="stylesheet" href="{{ [
            'assets/css/theme.css',
            'assets/css/bootstrap-icons.css',
            'assets/css/swiper-bundle.css',
        ]|theme }}" />
    </head>

    <body class="d-flex flex-column h-100">
        {% partial "header" %}

        <div class="container-fluid bg-green-light py-2" id="breadcrumb">
            <div class="container-lg">
                {% component "breadcrumbs" %}
            </div>
        </div>

        <main>
            {% if not staticPage.content %}
                {% page %}
            {% else %}
                <div class="container-fluid my-5" id="static-page">
                    <div class="container-lg">
                        <div class="row">
                            <div class="col-xl-3 d-none d-xl-block">
                                {% component "left-menu" code=page.parent.id %}
                            </div>

                            <div class="col-xl-9">
                                <h1 class="mb-4">
                                    {{ page.title }}
                                </h1>

                                {% page %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </main>

        {% partial "footer" %}
        {% partial "contact" %}
        {% partial "copyright" %}
        {% partial "offcanvas" %}

        <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/popper.js',
            'assets/js/swiper-bundle.js',
            'assets/js/theme.js',
        ]|theme }}"></script>

        <script src="{{ 'assets/js/bootstrap.js'|theme }}"></script>

        {% framework %}
        {% framework extras %}
        {% scripts %}
    </body>
</html>
