[viewBag]
snippetCode = "past-students-1945-1949"
snippetName = "Absolventi 1945 - 1949"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "skola-absolventi-1945-1949-1945-1946"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1945 - 1946
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1945-1949-1946-1947"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1946 - 1947
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1945-1949-1947-1948"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1947 - 1948
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1945-1949-1948-1949"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1948 - 1949
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1945-1949-1949-1950"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1949 - 1950
        </a>
    </div>
</div>
