[viewBag]
snippetCode = "past-students-1950-1959"
snippetName = "Absolventi 1950 - 1959"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1950-1951"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1950 - 1951
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1951-1952"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1951 - 1952
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1952-1953"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1952 - 1953
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1953-1954-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1953 - 1954 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1953-1954-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1953 - 1954 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1954-1955"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1954 - 1955
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1955-1956"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1955 - 1956
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1956-1957"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1956 - 1957
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1957-1958-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1957 - 1958 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1957-1958-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1957 - 1958 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1958-1959-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1958 - 1959 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1958-1959-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1958 - 1959 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1959-1960-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1959 - 1960 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1950-1959-1959-1960-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1959 - 1960 B
        </a>
    </div>
</div>
