[viewBag]
snippetCode = "past-students-1960-1969"
snippetName = "Absolventi 1960 - 1969"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1960-1961"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1960 - 1961
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1961-1962-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1961 - 1962 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1961-1962-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1961 - 1962 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1962-1963-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1962 - 1963 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1962-1963-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1962 - 1963 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1963-1964-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1963 - 1964 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1963-1964-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1963 - 1964 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1964-1965-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1964 - 1965 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1964-1965-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1964 - 1965 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1965-1966-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1965 - 1966 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1965-1966-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1965 - 1966 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1966-1967-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1966 - 1967 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1966-1967-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1966 - 1967 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1967-1968-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1967 - 1968 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1967-1968-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1967 - 1968 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1968-1969-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1968 - 1969 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1968-1969-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1968 - 1969 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1969-1970-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1969 - 1970 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1960-1969-1969-1970-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1969 - 1970 B
        </a>
    </div>
</div>
