[viewBag]
snippetCode = "past-students-1970-1979"
snippetName = "Absolventi 1970 - 1979"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1970-1971-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1970 - 1971 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1970-1971-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1970 - 1971 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1971-1972-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1971 - 1972 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1971-1972-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1971 - 1972 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1972-1973-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1972 - 1973 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1972-1973-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1972 - 1973 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1973-1974-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1973 - 1974 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1973-1974-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1973 - 1974 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1974-1975"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1974 - 1975
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1975-1976"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1975 - 1976
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1976-1977"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1976 - 1977
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1977-1978"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1977 - 1978
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1978-1979"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1978 - 1979
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1979-1980-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1979 - 1980 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1979-1980-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1979 - 1980 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "skola-absolventi-1970-1979-1979-1980-c"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1979 - 1980 C
        </a>
    </div>
</div>
