[viewBag]
snippetCode = "past-students-1980-1989"
snippetName = "Absolventi 1980 - 1989"
==
<div class="row row-cols-2 g-2">
    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1980-1981"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1980 - 1981
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1981-1982"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1981 - 1982
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1982-1983-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1982 - 1983 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1982-1983-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1982 - 1983 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1983-1984-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1983 - 1984 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1983-1984-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1983 - 1984 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1984-1985-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1984 - 1985 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1984-1985-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1984 - 1985 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1985-1986-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1985 - 1986 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1985-1986-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1985 - 1986 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1986-1987-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1986 - 1987 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1986-1987-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1986 - 1987 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1987-1988-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1987 - 1988 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1987-1988-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1987 - 1988 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1988-1989-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1988 - 1989 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1988-1989-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1988 - 1989 B
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1989-1990-a"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1989 - 1990 A
        </a>
    </div>

    <div class="col">
        <a href="{{ "o-skole-absolventi-1980-1989-1989-1990-b"|staticPage }}" class="fw-normal bg-green-light p-3 text-primary d-flex justify-content-center bg-secondary-hover text-white-hover transition-base">
            1989 - 1990 B
        </a>
    </div>
</div>
