<div id="{{ __SELF__ }}" class="swiper">
    <div class="swiper-wrapper">
        {% for image in __SELF__.gallery.images %}
            <div class="swiper-slide">
{#                <img src="{{ image.path|resize(600, 600, { mode: 'crop' }) }}" alt="{{ image.title }}">#}
                <img src="{{ image.path|resize(400, 250, { mode: 'crop' }) }}" alt="{{ image.title }}" class="img-fluid">
            </div>
        {% endfor %}
    </div>
</div>

{% put scripts %}
    <script>
        const swiper = new Swiper(".swiper", {
            slidesPerView: 1,
            spaceBetween: 6,
            // loop: true,
            breakpoints: {
                576: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                992: {
                    slidesPerView: 5,
                },
            },
            // autoplay: {
            //     delay: 5000
            // },
        });
    </script>
{% endput %}
